html{
  font-size: 13px "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}

.side-block {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 50%;


  width: 0;
  /*width: 50%;*/

  overflow-x: hidden;
  text-align: right;
  background: black;
  transition: all 0.5s;
  z-index: 9999;
}

.side-block-show {
  width: 40%;
  transition: all 0.5s;
}

.side-block-wrapper {
  margin: auto;
  position: absolute;
  top: 30%;
  right: 0;
  width: 100%;
  transform: translateY(-50%);
}

.side-block-wrapper button{
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  
  font-weight: bold;

  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.side-block-toggle {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;
  width: 100%;
  
  overflow-x: hidden;
  text-align: right;
  background: transparent;
  z-index: -9999;
}

.side-block-toggle-icon {
  position: absolute;
  top: 30%;
  right: 0;

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 20px 50px 20px 0;
  border-color: transparent #007bff transparent transparent;

  /* 配合三角形參數 */
  transform: translateY(-20px);
  z-index: 9999;
}