html{
  font-size: 13px "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}

.side-block {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;

  width: 60%;

  overflow-x: hidden;
  text-align: right;
  background: transparent;
  z-index: 9999;
}

.side-block-show {
  /*width: 40%;*/
  /*transition: all 0.5s;*/
}

.side-block-wrapper {
  position: absolute;
  top: 30%;
  right: -2px;
  width: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}

.side-block-wrapper > .side-block-icon,
.side-block-wrapper > .side-block-button {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  /*font-weight: 400;*/
  /*line-height: 1.42857143;*/
  /*text-align: center;*/
  /*white-space: nowrap;*/
}

.side-block-wrapper > .side-block-icon:active,
.side-block-wrapper > .side-block-button:active {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.side-block-wrapper .side-block-icon {
  padding: 12px;
  margin-right: -5px;
  width: auto;
  height: 36px;
}

.side-block-wrapper .side-block-button{
  width: 0px;
  padding: 0;

  height: 62px;  /*可用 JS 去處理和圖片大小一樣*/

  border-radius: 0px 0px 0px 0px;
  text-align: left;
  transition: width 0.5s, padding 0s 0.2s;
}

.side-block-wrapper .button-show{
  width: 100%;
  
  padding: 6px;
  transition: width 0.5s;
}

/*.side-block-toggle {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;
  width: 100%;
  
  overflow-x: hidden;
  text-align: right;
  background: transparent;
  z-index: -9999;
}*/

/*-----------------------------*/

/*.side-block-toggle-icon {
  position: absolute;
  top: 30%;
  right: 0;

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 20px 50px 20px 0;
  border-color: transparent #007bff transparent transparent;

  transform: translateY(-20px);
  z-index: 9999;
}*/

/*.side-block-toggle-icon {
  position: absolute;
  top: 30%;
  right: 0;

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 20px 50px 20px 0;
  border-color: transparent #007bff transparent transparent;

  transform: translateY(-20px);
  z-index: 9999;
}*/